.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    max-height: 100vh; /* Tam ekran yüksekliği */
    overflow: hidden; /* Taşan içeriği gizle */
  }
  
  .video-wrapper {
    position: relative;
    width: calc(50% - 1rem); /* Yarı genişlik, aralarındaki boşluk hariç */
    padding-top: 50%; /* 1:1 Aspect Ratio */
    background: #000;
    overflow: hidden;
  }
  
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .video-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0.5rem 0;
  }
  
  .not-connected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    position: absolute; /* Ekle */
    top: 0; /* Ekle */
    left: 0; /* Ekle */
  }
  

  .video-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .video-mute-button, .video-camera-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background: white;
    color: black;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .video-mute-button:hover, .video-camera-button:hover {
    background: #f0f0f0;
  }
  
  .leave-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #ff0000;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .leave-button:hover {
    background: #cc0000;
  }